.button {
  padding: 9px 15px;
  margin: 5px 2px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px #999;
  width: 160px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#table
	{
		margin: 20px 10px 10px 10px;
		clear: left;
		font-size: 22px;
		color: blue;
	}
	
.red
	{
		color: red;
	}
	
.green
	{
		color: green;
  }
  
.inp111
  {
    width: 40px;
    height: 22px;
    font-size: 22px;
  }
  